DATABASE_URL="postgresql://postgres:1234@localhost:5432/db_lokawisata?schema=public"
PORT=3002
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
WISATA_SERVICE_URL=http://localhost:3001/api
API_KEY=your_internal_api_key_here
